.DS_Store

# Local Uploads (keep .gitkeep files)
apps/python/uploads/*
!apps/python/uploads/.gitkeep

# Local ML model assets
apps/python/models_ml/

.env

# Ignore vscode settings
.vscode/

# Local backups
backups/
